body{
    overflow-x: hidden;
}

.remove{
    display: none;
}

.form-extras{
    width:40vw;
}

.underline{
    height:.5rem;
    width:40%;
    border-radius: 5px;
    background: rgb(13,110,253);
background: linear-gradient(97deg, rgba(13,110,253,1) 0%, rgb(20, 228, 131) 100%);
}

.card-hover{
    transition: all 300ms ease;
    &:hover{
        transform: translate(5px , -5px);
    }
}

.card-btn{
    position: absolute;
    bottom: 0;
}

//FOOTER STYLING
footer{
  position: absolute;
  width: 100vw;
  height: 10vh;
  bottom: 0px;
}